body {
    background-color: black;
    color: white;
    text-align: center;
}

/*------Headings-------*/


.big-heading {
    font-size: 5px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0px;
}

.medium-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 33px;
    margin: 30px auto;
    padding-bottom: 0px;
    width: 500px;
}

.title {
    padding: 2% 10%;
}

h1 img {
    width: 110px;
    margin: 0;
    padding: 0;
    position: relative;
    left: 10px;
}

.s3 {
    position: relative;
    left: 90px;
}
.gm-img{
    width: 90%;
}

/*------Navigation Bar-------*/
.nav-bar {
    display: flex;
    margin-top: 1rem;
    flex-wrap: wrap;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
    align-items: center;


}
.coinflip-menu-text {
    color: white;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
}
.nav-menu-items {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    cursor: not-allowed;

}

.nav-item {
    font-size: 12px;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.nav-brand {
    font-size: 14px;
    font-weight: bold;
    list-style: none;
    margin: 0 3rem 0 0;
    
}
.nav-brand a {
    text-decoration: none;
color: white;

}

.nav-brand i {
    font-size: 25px;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.launch-btn {
    background-color: white;
    color: black;
    padding:10px 17px 10px 17px;
    border-radius: 20px;
    border: 0;
    font-size: 12px;
    cursor: pointer;
    margin-right: 1rem;
    cursor: not-allowed;
    text-decoration: none;
}



/*----------------------------------------------CoinFlip Page-------*/


.coinflip-section {
    text-align: center;
}




/*------Buttons-------*/
.button-div {
    position: relative;
    right: 15px;
}

#headsbtn {
    cursor: url("cursor.png"), auto;
    margin: 25px 15px 15px 15px;
    padding: 1% 3.3%;
    font-size: 15px;
    visibility: visible;
    font-weight: bold;
}

#tailsbtn {
    cursor: url("cursor.png"), auto;
    margin: 25px 15px 15px 15px;
    padding: 1% 3.5%;
    font-size: 15px;
    visibility: visible;
    font-weight: bold;
}
.heads-img , .tails-img {
    position: absolute;
    right: 43%;

}

.coinflip-div {
    height: 180px;
}
/*------flipping loading screen-------*/

.loading-bar {
    width: 200px;
    height: 30px;
    position: relative;
    right: 5px;
    visibility: hidden;
    display: block;
    
}
.loading-coin {
    width: 100px;
    position: relative;
    right: 16px;
    visibility: hidden;
margin: 20px;
display: block;
}




.main-title {
    width: 50%;
    margin: 0 auto;
}

.main-title h1 {
    font-size: 125px;
    font-weight: bold;
}


.initial-coin-img {
    text-align: center;
    width: 150px;
    margin: 0 auto;
}
.coinflip-div {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
}